@use "../../layout/variable6" as *;

.marin-img{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 480px){
    .marin-img{
        margin-top: 0px;
        margin-bottom: 20px;
        img{
            width: 280px;
            height: 200px;
        }
    }
}