@use "../../layout/variable" as *;

.profile{
    font-family: "Toppan Bungu Mincho", serif;
    display: flex;
    justify-content: center;
    margin: 10vw 10vw; 
    gap: 10%;
    .profile-text{
        .title{
            font-weight: 600;
            font-size: 5vw;
        }
        .profile-name{
            font-family: "hiragino-kaku-gothic-pron", sans-serif;
            font-weight: 500;
            margin-top: 3vw;
            font-size: 2.4vw;
            font-weight: 500;
        }
        .profile-scholl{
            font-family: "hiragino-kaku-gothic-pron", sans-serif;
            font-weight: 500;
            font-size: 1.6vw;
            font-weight: 500;
            margin: 1vw 0vw;
        }
        .profile-maintext{
            font-family: "hiragino-kaku-gothic-pron", sans-serif;
            font-weight: 500;
            font-size: 1.2vw;
        }
        .sns-icon{
            list-style: none;
            width: 8%;
            margin-top: 3vw;
            img{
                width: 100%;
            }
        }
    }
    .profile-img {
        margin-top: 7vw;
        width: 30%;
    
        img {
            width: 100%;
            filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.7)); /* 影を強調 */
        }
    }
}