@use "../../layout/variable" as *;

.Works{
    font-family: "Toppan Bungu Mincho", serif;
    margin: 0vw 10vw;
    .Works-title{
        margin-top: 10vw;
        font-weight: 700;
        font-size: 5vw;
        text-align: center;
    }
    .works-content{
        margin-top: 5vw;
        ul{
            list-style-type: none;
            .works1{
                margin-bottom: 3vw;
                display: flex;
                justify-content: center;
                img{
                    width: 90%;
                }
                a{
                    font-family: "hiragino-kaku-gothic-pron", sans-serif;
                    text-align: center;
                    text-decoration: none;
                    color: black;
                    font-size: 1.5vw;
                    p{
                        margin-top: 1vw;
                    }
                }
            }
        }
    }
}