@use "../../layout/variable8" as *;

.poster-mainimg{
    text-align: center;
}

@media screen and (max-width:480px){
    .poster-mainimg{
        text-align: center;
        img{
            width: 250px;
            height: 200px;
        }
    }
}