@use "../../layout/variable8" as *;

.poster-img{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 480px){
    .poster-img{
        margin-top: 0px;
        margin-bottom: 15px;
        img{
            width: 280px;
            height: 200px;
        }
    }
}