@use "../../layout/variable3" as *;

#Sakae-header{
    margin-top: 4.375rem; //70px//
    margin-left: 6.25rem;
    .Works-title{
        font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;;
        font-size: 70px;
        display: flex;
    }
    .title1{
        font-weight: 1000;
    }
    .sitemap1{
        margin-top: 55px;
        color: #fff;
        font-size: 20px;
        margin-left: 100px;
        
    }
    .sitemap2{
        margin-top: 55px;
        color: #fff;
        font-size: 20px;
        font-family: "Hiragino Sans", sans-serif;
    }
}

@media screen and (max-width:480px) {
    #Sakae-header{
        margin-top: 30px;
        margin-left: 30px;
        .Works-title{
            font-size: 5vw;
        }
        .sitemap1{
            font-size: 2.5vw;
            margin-left: 30px;
            margin-top: 10px;
        }
        .sitemap2{
            font-size: 2.5vw;
            margin-top: 10px;
        }
    }
}