@use "../../layout/variable3" as *;

.sakae-mainimg{
    text-align: center;
    margin-bottom: 70px;
}

@media screen and (max-width:480px){
    .sakae-mainimg{
        margin-bottom: 20px;
        img{
            width: 280px;
            height: 1400px;
        }
    }
}